.header {
  min-height: 40px;
  letter-spacing: 0.1rem;
  display: flex;
}

.header h1 {
  margin: 20px;
  font-family: 'Alegreya Sans SC', 'Quicksand', sans-serif;
  font-size: 25px;
  color: #333;
  display: inline-block;
}

.header img {
  height: 60px;
}

.header ul {
  display: inline-block;
  padding: 0;
  margin-right: 2em;
  margin-left: auto;
  list-style: none;
  text-align: right;
}

.header ul li {
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
  font-family: 'Alegreya Sans SC', 'Quicksand', sans-serif;
}

.header ul li :hover {
  color: #3291ff;
}

.header :global(a) {
  color: var(--accents-3);
  font-weight: 400;
}

.header :global(a.active) {
  color: #333;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 0.5em;
  text-decoration-color: #888;
}

@media (max-width: 600px) {
  .header {
    padding: 0.5em 0 2em;
  }
}
